@import './styles/vaiables.css';
@import '../themes/dark/dark.module.css';
@import '../themes/light/light.module.css';

:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: .2s;
}

a {
  list-style-type: none;
  text-decoration: none;
}