.themeButton {
  width: 28px;
  height: 28px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  padding: 8px;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}